<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.JunLabelrecordDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.imageId != null and params.imageId != ''">
				and imageId = #{params.imageId} 
			</if>
			<if test="params.imageType != null and params.imageType != ''">
				and imageType = #{params.imageType} 
			</if>
			<if test="params.labelId != null and params.labelId != ''">
				and labelId = #{params.labelId} 
			</if>
			<if test="params.labelUser != null and params.labelUser != ''">
				and labelUser = #{params.labelUser} 
			</if>
			<if test="params.createTime != null and params.createTime != ''">
				and createTime = #{params.createTime} 
			</if>
			<if test="params.updateTime != null and params.updateTime != ''">
				and updateTime = #{params.updateTime} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from jun_labelrecord t
		<include refid="where" />
	</select>

	<select id="list" resultType="JunLabelrecord">
		select * from jun_labelrecord t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update jun_labelrecord t
		<set>
			<if test="imageId != null">
				imageId = #{imageId}, 
			</if>
			<if test="imageType != null">
				imageType = #{imageType}, 
			</if>
			<if test="labelId != null">
				labelId = #{labelId}, 
			</if>
			<if test="labelUser != null">
				labelUser = #{labelUser}, 
			</if>
			<if test="createTime != null">
				createTime = #{createTime}, 
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

	<select id="queryLabeledNum" resultType="int">
		SELECT count(*) FROM jun_datalist dl, jun_labelrecord lr
		WHERE dl.id = lr.imageId
		AND lr.labelUser = #{labelUser}
		AND dl.imageGroup = #{imageGroup}
	</select>

	<select id="querybyUserAndImageUl" resultType="JunLabelrecord">
		SELECT * FROM jun_labelrecord t
		WHERE t.labelUser = #{labelUser}
		AND t.imageId = #{imageId}
	</select>

</mapper>
